<h1 style="text-align:center">
  Angular 9 Login Example
</h1>
<div class="container login">
  <form [formGroup]="loginForm" class="login-container" novalidate>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <input class="form-control" type="email" placeholder="User Name" formControlName="username">
    </p>

    <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
      <div *ngIf="formControls.username.errors.required">User name is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input class="form-control" type="password" placeholder="Password" formControlName="password">
    </p>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>
    
    <p>
      <button class="btn btn-primary" type="submit" (click)="logIn(loginForm)" [disabled]="!loginForm.valid">
        Log In
      </button>
    </p>
    <div *ngIf="invalidCredentials">
      <p class="has-error">
        Invalid username and or password
      </p>
    </div>
  </form>
</div>
